:root{
    --primary-color: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    
}

html {
    background-color: azure;
}

body{
    display: flex;
    justify-content: center;
    color: var(--desaturated-blue);
    font-family: "Red Hat Display", "sans-serif";
    background:url(./images/pattern-background-desktop.svg) no-repeat;
}

body * {
    font-family: "Red Hat Display", "sans-serif";
    

}

#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    margin-bottom: 64px;
    margin-top: 24px;
    border-radius: 20px;

}

#illustration {
    background: url(./images/illustration-hero.svg);
    height: 200px;
    border-radius: 20px 20px 0 0;
}

#text {
    text-align: center;
    font-size: 16px;
    margin: 24px;
    
  
}

#text h1{
    color: var(--dark-blue);
    margin: 16px 0;
}

#text p{
    color: var(--desaturated-blue);
}
#icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-pale-blue);
    padding: 16px;
    justify-content: flex-start;
    gap: 16px;
    margin: 0 32px;
    border-radius: 16px;
}

#icon div b{
    color: var(--dark-blue);
}

#change{
    cursor: pointer;
    justify-self: flex-end;
    margin-left: auto;
}


#button{
    text-align: center;
    padding: 16px ;
    margin: 32px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--desaturated-blue);
    box-shadow: 0px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#order{
    align-self: center;
    cursor: pointer;
}
