body{
    width: 1000px;
    height: 1000px;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    width: 400px;
    height: 600px;
    background-color: rgb(244, 248, 248);
    border: solid 1px;
    border-radius: 20px;
    border-color: rgb(237, 238, 240);
  

}
.icon{
    width: 400px;
    height: 200px;
    background: url(./images/illustration-hero.svg);
    border-radius:20px 20px 0px 0px;
   
}
.texto{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid red;
}
.ilustration{
    width: 390px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(183, 198, 211);
    border: 1px solid;
    border-radius:20px 20px 20px 20px;
    border-color: rgb(203, 225, 243); 
}
.one{
    margin-left: 40px;
    margin-right: 0px;
}
.tree{
    margin-left: 10px;
    margin-right: 20px;
}
button{
    width: 300px;
    height: 50px;
    margin-top: 5px;
    background-color: blue;
    color: white;
    border-radius:20px 20px 20px 20px;
    border-color: rgb(161, 177, 190);    
}
.orderCancel{
margin-top: 10px;
}